@media (min-width: 992px) {

    /* entire container, keeps perspective */
    .pre_footer_image_main .flip-container {
        transform: perspective(1000px);
        -ms-transform: perspective(1000px);
        -moz-transform: perspective(1000px);
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;
        margin: 5px;
    }

    /* flip the pane when hovered */
    .pre_footer_image_main .flip-container:hover .flipper, .pre_footer_image_main .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

    /* flip speed goes here */
    .pre_footer_image_main .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        min-height: 200px;
    }

    /* hide back of pane during swap */
    .pre_footer_image_main .front, .pre_footer_image_main .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .pre_footer_image_main .front {
        z-index: 2;
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .pre_footer_image_main .back {
        transform: rotateY(180deg);
    }
}

@media  (max-width: 992px) {
    /* flip speed goes here */
    .pre_footer_image_main .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        min-height: 200px;
    }

    /* hide back of pane during swap */
    .pre_footer_image_main .front, .pre_footer_image_main .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .pre_footer_image_main .front {
        z-index: 2;
    } 
}